<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>Bed and Breakfast Single page</title>
<meta name="description" content="Simple and easy to edit Bed and Breakfast site template">
<meta name="author" content="">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS -->




<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Lets you use only unprefixed CSS -->

<!-- Favicons-->
<link rel="shortcut icon" href="assets/favicon.html">
<link rel="apple-touch-icon" href="assets/apple-touch-icon.html">
<link rel="apple-touch-icon" sizes="72x72" href="assets/apple-touch-icon-72x72.html">
<link rel="apple-touch-icon" sizes="114x114" href="assets/apple-touch-icon-114x114.html">

<!-- Jquery -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11097556-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</head>
</html>